<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>waiguaGG &mdash; item</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5"/>
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700'
          rel='stylesheet' type='text/css'>
    <!-- Animate -->
    <link rel="stylesheet" href="static/waiguaindex/css/animate.css">
    <!-- Icomoon -->
    <link rel="stylesheet" href="static/waiguaindex/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="static/waiguaindex/css/bootstrap.css">

    <link rel="stylesheet" href="static/waiguaindex/css/style.css">
    <!-- Modernizr JS -->
    <script src="static/waiguaindex/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="static/waiguaindex/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<style>
    /*点赞样式*/
    .like {
        font-size: 16px;
        color: #ccc;
        cursor: pointer;
        float: left;
        margin-left: 8px;
    }

    .cs {
        color: #f00;
    }

    /*底部样式*/
    .footer {
        width: 100%;
        /*background-color: #cccccc;*/
        position: fixed;
        bottom: 0;
    }

    /*发布评论 按钮*/
    .comment-submit {
        width: 70px;
        height: 64px;
        /*position: absolute;*/
        right: -80px;
        top: 0;
        padding: 4px 15px;
        font-size: 14px;
        color: #fff;
        border-radius: 4px;
        text-align: center;
        min-width: 60px;
        vertical-align: top;
        cursor: pointer;
        background-color: #00a1d6;
        border: 1px solid #00a1d6;
        transition: 0.1s;
        user-select: none;
        outline: none;
    }
	/*评论列表*/

</style>
<header>

</header>
<div style="float: left;margin-left: 70px;">
    <!--title -->
    <div>
        <h3 th:text="${infoVO.getWaiguaDescribe()}"><sup>TM</sup></a></h3>
    </div>
    <div style="font-size: 10px;opacity: 0.5;">
        <span th:text="${infoVO.getReadNumber()}+'播放'">March 6th, 2016</span>
        <span th:text="${#dates.format(infoVO.getCreateTime(),'yyyy-MM-dd HH:mm:ss')}">March 6th, 2016</span>
    </div>
    <!--video-->
    <div>
        <article>
            <figure style="float: left">
                <video width="620" height="360" controls>
                    <source th:src="${infoVO.getLocation()}" type="video/mp4">
                </video>
            </figure>
        </article>
    </div>
    <!--点赞区-->
    <div>
        <P class="" th:class="${infoVO.getIsSupport() == 0} ? 'like' : 'like cs'">&#10084;</P> <span id="countLike"
                                                                                                     style="margin-left: 10px;"
                                                                                                     th:text="${infoVO.getThumbUpNumber()}"></span>
    </div>
    <hr/>
    <!--作者对该视频简介  没有暂时title顶-->
    <div style="font-size: 10px;">
        <span th:text="${infoVO.getWaiguaDescribe()}"></span>
    </div>
    <hr/>
    <!--评论区-->
    <div>
        <span>700 评论</span>
    </div>
    <div style="font-size: 15px;">
        <a>按热度排序</a> <a>按时间排序</a>
        <hr/>
    </div>
    <div>
        <textarea id="content" cols="60" rows="2" placeholder="发一条友善的评论"></textarea>
        <button id="sub" type="submit" class="comment-submit">发表评论</button>
    </div>
    <!--评论列表  灰线分割-->
    <!--最外层大集合:包住所有的一级评论-->
    <div class="comment-list" id="table_refresh" th:fragment="table_refresh">
        <!--每个一级item 里面又包着二层小集合-->
        <div th:each="comments : ${list}" class="list-item reply-wrap is-top" data-id="3774235214" data-index="0" scrollshow="true">
            <!-- 一层左侧用户头像 + 关注按钮-->
            <div class="user-face"><a href="//space.bilibili.com/14163840" target="_blank" data-usercard-mid="14163840">
                <div class="bili-avatar">
                    <img class="bili-avatar-img bili-avatar-face bili-avatar-img-radius"
                         src="https://i0.hdslb.com/bfs/face/dcc9325c49974a385e9abb6c3cd039e08d3e8c56.jpg@96w_96h_1c_1s.webp"
                         alt="">
                    <span class="bili-avatar-icon"></span>
                </div>
            </a>
                <!--<div class="hot-follow">
                    <button class="follow-btn" data-mid="14163840" data-uname="黎曼的猜想" data-rpid="3774235214">关注</button>
                </div>-->
            </div>
            <!--二层集合 头部信息-->
            <div class="con ">
                <!--一层固定用户信息-->
                <div class="user"><a data-usercard-mid="14163840" href="//space.bilibili.com/14163840" target="_black"
                                     class="name" th:text="${comments.getUsername()}">黎曼的猜想</a><a class="level-link"
                                                                             href="//www.bilibili.com/blackboard/help.html#%E4%BC%9A%E5%91%98%E7%AD%89%E7%BA%A7%E7%9B%B8%E5%85%B3"
                                                                             target="_blank"><i
                        class="level l6"></i></a><span
                        class="stick up" style="width:16px"></span></div>
                <!--一层用户评论信息-->
                <p class="text" th:text="${comments.getContent()}"><span class="stick">置顶</span></p>
                <!--一层用户评论 时间 点赞 回复按钮-->
                <div class="info"><span class="time">2020-12-03 20:20</span><span
                        class="like "><i></i><span>27</span></span><span class="hate "><i></i></span><span
                        class="reply btn-hover btn-highlight">回复</span>
                    <!--<div class="operation more-operation">
                        <div class="spot"></div>
                        <div class="opera-list">
                            <ul>
                                <li class="blacklist">加入黑名单</li>
                                <li class="report">举报</li>
                            </ul>
                        </div>
                    </div>-->
                </div>
                <!--下面为2层循环集合开始-->
                <div class="reply-box">
                    <!--每个2层信息-->
                    <div th:each="comment : ${comments.getChildComments()}" class="reply-item reply-wrap" data-id="4134279655" data-index="0">
                        <!--2层头像-->
                        <a href="//space.bilibili.com/512916320" data-usercard-mid="512916320" target="_blank"
                            class="reply-face" style="top: 0px;">
                        <div class="bili-avatar">
                            <img class="bili-avatar-img bili-avatar-face bili-avatar-img-radius"
                                 src="https://i0.hdslb.com/bfs/face/member/noface.jpg@96w_96h_1c_1s.webp" alt="">
                            <span class="bili-avatar-icon"></span>
                        </div>
                       </a>
                        <!--2层 用户名称+等级 +评论信息-->
                        <div class="reply-con">
                            <div class="user"><a data-usercard-mid="512916320" href="//space.bilibili.com/512916320"
                                                 target="_black" class="name" th:text="${comment.getUsername()}">bili_29350953960</a><a
                                    class="level-link"
                                    href="//www.bilibili.com/blackboard/help.html#%E4%BC%9A%E5%91%98%E7%AD%89%E7%BA%A7%E7%9B%B8%E5%85%B3"
                                    target="_blank"><i class="level l3"></i></a><span class="text-con" th:text="${comment.getContent()}">已经看到了，大神想的很周到<img
                                    src="//i0.hdslb.com/bfs/emote/c7aaeacb21e107292d3bb053e5abde4a4459ed30.png@100w_100h.webp"
                                    class="small" alt="[加油]"></span></div>
                        </div>
                        <!--2层 时间 点赞 或踩 回复按钮-->
                        <div class="info"><span class="time">2021-02-17 00:14</span><span
                                class="like "><i></i><span>1</span></span><span class="hate "><i></i></span><span
                                class="reply btn-hover">回复</span>
                            <!--右侧小点点-->
                            <!--<div class="operation btn-hover btn-hide-re">
                                <div class="spot"></div>
                                <div class="opera-list">
                                    <ul>
                                        <li class="blacklist">加入黑名单</li>
                                        <li class="report">举报</li>
                                    </ul>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <!--2层的底层分页 -->
                    <!--<div class="view-more" th:text="'共'+${comments.getCommentCount()}+'条回复'">共<b>34</b>条回复, <a class="btn-more" data-pid="3774235214" data-fold="false">点击查看</a>
                    </div>-->
                </div>
                <div class="paging-box"></div>
            </div>
            <!--con 结束-->
        </div>
    </div>
</div>

<!--底部-->
<!--<div class="footer">
    <footer id="fh5co-footer" >
        <p><small>&copy; 2021. Magazine Free HTML5. All Rights ttt. </small></p>
    </footer>
</div>-->
<!-- jQuery -->
<script src="static/waiguaindex/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="static/waiguaindex/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="static/waiguaindex/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="static/waiguaindex/js/jquery.waypoints.min.js"></script>
<!-- Main JS -->
<script src="static/waiguaindex/js/main.js"></script>

</body>
<script th:inline="javascript" type="text/javascript">

    $(function () {
        let isLiked = false;
        var isSupport = [[${infoVO.isSupport}]];
        var relationId = [[${infoVO.waiguaInfoId}]];
        /*是否点赞*/
        if (isSupport == 1) {
            isLiked = true;
        }
        /*点赞逻辑*/
        $(".like").click(function () {
            $(this).toggleClass('cs');
            let countLike = document.getElementById("countLike").innerText;
            isLiked = !isLiked;
            let newCountLike;
            let url;
            if (isLiked) {
                newCountLike = parseInt(countLike) + 1;
                url = "/waiguagg/info/giveLikeInfo";
            } else {
                newCountLike = parseInt(countLike) - 1;
                url = "/waiguagg/info/unGiveLikeInfo";
            }
            document.getElementById('countLike').innerHTML = newCountLike;
            var vo = {"relationId": relationId, "userId": 1};
            $.ajax({
                url: url,
                dataType: "json",
                type: "post",
                data: JSON.stringify(vo),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    if (result.code == 0) {
                        showTips(result.msg, 120, 200, 3);
                    } else {
                        showTips(result.message, 100, 200, 3);
                    }
                },
                error: function (data) {
                    alert("请求出错");
                    alert(data);
                }
            });
            /*解决连点选中bug*/
            document.onselectstart = new Function("return false");
        })

        /*发表评论*/
        var btn = document.getElementById("sub");
        var content = document.getElementById("content");
        btn.onclick =function(){
            var vo = {"content": content.value, "userId": 1,"infoId":[[${infoVO.waiguaInfoId}]],"parentId":0};
            $.ajax({
                url: "/comment/comment/save",
                dataType: "json",
                type: "post",
                data: JSON.stringify(vo),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    console.log(result);
                    if (result.code == 0) {
                        showTips('发布成功!', 120, 200, 3);
                        $('#table_refresh').load("/local");
                    } else {
                        showTips(result.message, 100, 200, 3);
                    }
                },
                error: function (data) {
                    alert("请求出错");
                    alert(data);
                }
            });
        }
    })


    /**
     * 借鉴
     * 浮动DIV定时显示提示信息,如操作成功, 失败等
     * @param string tips (提示的内容)
     * @param int height 显示的信息距离浏览器顶部的高度
     * @param int time 显示的时间(按秒算), time > 0
     * @sample <a href="javascript:void(0);" οnclick="showTips( '操作成功', 100, 3 );">点击</a>
     * @sample 上面代码表示点击后显示操作成功3秒钟, 距离顶部100px
     */
    function showTips(tips, height, sizeWidth, time) {
        var windowWidth = document.documentElement.clientWidth;
        var tipsDiv = '<div class="tipsClass">' + tips + '</div>';

        $('body').append(tipsDiv);
        $('div.tipsClass').css({
            'top': '200px',
            'right': 650 + 'px',
            'position': 'absolute',
            'padding': '3px 5px',
            'background': '#8FBC8F',
            'font-size': 12 + 'px',
            'margin': '0 auto',
            'text-align': 'center',
            'width': sizeWidth + 'px',
            'color': '#fff',
            'opacity': '0.8'
        }).show();
        setTimeout(function () {
            $('div.tipsClass').fadeOut();
        }, (time * 1000));
    }

</script>
</html>

